/* Reseteo General */
* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

/* Estilos Importantes */
body {
    background-color: black;
    font-family: 'Russo One';
}

/* Verificación */
.subtitulo{
    color: white;
}

/* Header */
.navbar-brand img {
    max-height: 50px; /* Altura máxima del logo */
    margin-right: 1rem; /* Separación del menú */
}

#nombreEmpresa{
    color: antiquewhite;
}

#salir{
    background-color:#f51f8c;
    border: 0px;
}

#salir a{
    color: white;
}

#salir:hover{
    background-color: #a2145d;
}

.nav-link{
    color:white;
    font-size: 14px;
}

.nav-link.active{
    border-bottom: 3px solid #f51f8c;
}

.nav-link:hover{
    color: #f51f8c;
}

/* Inicio */
#Inicio #titulo{
    color: #f51f8c;
}

#Inicio #subtitulo{
    color: antiquewhite;
}

/* Guia de uso */
#Guia .card {
    background-color: #e7c9d9; 
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    height: 16rem;
}

.icon img{
    width: 60px;
    margin: 10px;
}

#Guia .card h3 {
    font-size: 18px;
    margin: 10px 0;
}

#Guia .card p {
    font-size: 14px;
    line-height: 1.5;
}

#Guia .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Footer */
footer{
    background-color: #e7c9d9;
    font-family: Arial, sans-serif;
}

.creditos{
    display: flex;
    justify-content: center;
    color: black;
}