/* Reseteo General */
* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

/* Estilos Importantes */
body {
    height: 100%;
    background-color: #F1ECE7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* font-family: 'Russo One'; */
}

/* Verificación */
.subtitulo{
    color: #2E2E32;
}

/* Header */
.navbar-brand img {
    max-height: 50px; /* Altura máxima del logo */
    margin-right: 1rem; /* Separación del menú */
}

#nombreEmpresa{
    color: #2E2E32;
}

#salir{
    background-color:#7A5B5A;
    border: 0px;
}

#salir a{
    color: white;
}

#salir:hover{
    background-color: #A89F91;
}

.nav-link{
    color:#2E2E32;
    font-size: 14px;
}

.nav-link.active{
    border-bottom: 3px solid #7A5B5A;
}

.nav-link:hover{
    color: 	#5C565D;
}

/* Inicio */
#Inicio #titulo{
    color: #2E2E32;
}

#Inicio #subtitulo{
    color: #2E2E32;
}

/* Guia de uso */
#Guia .card {
    background-color: 	#A58C6F; 
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    height: 16rem;
}

.icon img{
    width: 60px;
    margin: 10px;
}

#Guia .card h3 {
    font-size: 18px;
    margin: 10px 0;
}

#Guia .card p {
    font-size: 14px;
    line-height: 1.5;
}

#Guia .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Mapa */
#map {
    height: 10cm;
    width: 10cm;
    width: 50%;
    float: right;
    margin: 20px 0;
    border: 2px solid #ccc;
  }

/* Footer */
footer{
    background-color: #A58C6F;
    font-family: Arial, sans-serif;
}

.creditos{
    display: flex;
    justify-content: center;
    color: #2E2E32;
}