main{
    font-family: 'Courier New', Courier, monospace;
}

.card {
    background-color: #0a0a0a;
    border: 1px solid #a0a0a7;
    border-radius: 10px;
    padding: 50px;
    margin-top: 40px;
}

.card h2{
    color: white;
    margin-bottom: 15px;
}

a{
    color: white;
    text-decoration: none;
}

.btn,button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
}

.btn-primary,button {
    background-color: #f51f8c;
    color: white;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn:hover, button:hover{
    background-color: #a2145d;
    transition: 0.2s;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#conductoTable, #pasajeroTable, #vehiculoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#conductorTable th, #conductorTable td, #pasajeroTable th, #pasajeroTable td, #vehiculoTable th, #vehiculoTable td {
    border: 1px solid #b3a5a5;
    padding: 10px;
    text-align: left;
    color: white;
}

#conductorTable th, #pasajeroTable th, #vehiculoTable th {
    background-color: #0a0a0a;
}

#conductorTable tr:nth-child(even), #pasajeroTable tr:nth-child(even), #vehiculoTable tr:nth-child(even) {
    background-color: #161617;
}

#conductorTable tr:hover, #pasajeroTable tr:hover, #vehiculoTable tr:hover {
    background-color: #2a2a2a;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b3a5a5;
    border-radius: 4px;
    background-color: #eeeef8;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.search-bar input{
    width: 90%;
    padding: 4px;
    border: 1px solid #b3a5a5;
    border-radius: 4px;
    background-color: #eeeef8;
    color: rgb(0, 0, 0);
    font-size: 20px;
}