html, body {
  height: 100%;
  background-color: #F1ECE7;
 /*  font-family: 'Russo One'; */
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-control:focus {
  border-color: #7A5B5A; /* Cambia el color del borde */
  box-shadow: 0 0 20px #A89F91; /* Efecto de resplandor rosa*/
  outline: none; /* Elimina el contorno predeterminado */
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos Importantes */

#formulario {
  font-family: 'Russo One';
}

#nombreEmpresa{
  color:#2E2E32;
}

#confirmar{
  background-color:#7A5B5A;
  border: 0px;
}

#confirmar:hover{
  background-color: #A89F91;
}

#titulo{
  color: #5C565D;
  font-size: 25px;
}

.creditos{
  display: flex;
  justify-content: center;
  color: #5C565D;
}

.modal-footer button{
  background-color: #7A5B5A;
  border: 0px;
}

.btn:hover, button:hover{
  background-color: #A89F91;
  transition: 0.2s;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
