html, body {
  height: 100%;
  background-color: black;
  font-family: 'Russo One';
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-control:focus {
  border-color: #FF1493; /* Cambia el color del borde */
  box-shadow: 0 0 20px #FF1493; /* Efecto de resplandor rosa*/
  outline: none; /* Elimina el contorno predeterminado */
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Estilos Importantes */

#formulario {
  font-family: 'Russo One';
}

#nombreEmpresa{
  color: antiquewhite;
}

#confirmar{
  background-color:#f51f8c;
  border: 0px;
}

#confirmar:hover{
  background-color: #a2145d;
}

#titulo{
  color: #f51f8c;
  font-size: 25px;
}

.creditos{
  display: flex;
  justify-content: center;
  color: black;
}
