<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/costume.css">
  <link rel="stylesheet" href="../css/cruds.css">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <!-- ICON DE LA PÁGINA -->
  <link rel="shortcut icon" href="../img/lampara-de-techo.png" type="image/x-icon">
  <title>Sistema de Rastreo de Flotas</title>
</head>

<body>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../img/lampara-de-techo.png" alt="Logo Rastreo de flotas" class="img-fluid"
            style="max-height: 50px ;">
          <span class="fs-5" id="nombreEmpresa"> GeoBuild S.A. </span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="index.html" class="nav-link px-2">Inicio</a></li>
        <li><a href="personal.html" class="nav-link active px-2">Gestión de Personal</a></li>
        <li><a href="vehiculos.html" class="nav-link px-2">Gestión Vehicular</a></li>
        <li><a href="monitoreo.html" class="nav-link px-2">Centro de Monitoreo</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary" id="salir">
          <a href="logueo.html" class="nav-link px-2">Cerrar Sesion</a>
        </button>
      </div>
    </header>
  </div>
  <hr>

  <main class="container">

    <div class="card">
        <h2>Datos del Conductor</h2>
        <form id="conductorForm">
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" required>
            </div>
            <div class="form-group">
                <label for="nombreCompleto">Nombre Completo:</label>
                <input type="text" id="nombreCompleto" name="nombreCompleto" required>
            </div>
            <div class="form-group">
              <label for="codigoPostal">Código Postal:</label>
              <input type="text" id="codigoPostal" name="codigoPostal" required>
          </div>
            <div class="form-group">
              <label for="domicilio">Domicilio:</label>
              <input type="text" id="domicilio" name="domicilio" required>
            </div>
            <div class="form-group">
              <label for="vencimientoLic">Fecha de vencimiento de la licencia:</label>
              <input type="date" id="vencimientoLic" name="vencimientoLic" required>
          </div>
          <div class="form-group">
            <label for="categoriaLic">Categoria de la Licencia:</label>
            <input type="text" id="categoriaLic" name="categoriaLic" required>
        </div>
        <div class="form-group">
          <label for="vehiculo">Vehículo Asignado:</label>
          <select name="vehiculo" id="vehiculo">
            <option value="">Cargando Patentes...</option>
          </select>
        </div>
            <div class="actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
  </main>


  <!-- Footer -->
  <footer class=" py-3 my-4 border-top">
    <!-- DERECHOS DE AUTOR -->
    <div>
      <p class="creditos">&copy; 2025 Desarrollo de Software, ITU-UNCUYO</p>
    </div>
  </footer>


  <script src="../js/script.js"></script>
<script src="../js/bootstrap.js"></script>
</body>

</html>